.custom-overlay {
  height: auto;
  width: auto;
  background: black;
  overflow: hidden;
}

.custom-opecity {
  object-fit: cover;
  opacity: 0.5;
}

.custom-position {
  position: absolute;
  bottom: 8.50rem !important;
}

.custom-width {
  width: 5px;
}

.custom-border-color {
  border: 1px solid #dddddd !important;
}

.custom-margin-auto {
  margin: 0px auto;
}

.custom-width {
  width: 10rem;
}


.custom-margin {
  margin-left: 20rem !important;
}